@import "vars";
@import "global";
@import "fonts";

//!  start header

.header__menu {
    // background-color: $bg;
    background-color: rgba(0, 35, 102, .9);
    position:fixed;
    height: 60px;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
}
.menu__list {
    height: 60px;
    line-height: 60px;

    li {
        display: inline-block;
        & + li {
            margin-left: 30px;
        }
    }
    a {
        color: #fff;
        font-size: 14px;
    }
}

.main{
    background-color: $grayBg;
}

.header__btn-menu,
.menu__btn {
    display: none;
}



// start products

.products{
    padding: 100px 0px 110px;
    background-color: $grayBg;
}

.products__inner-btn{
    text-align: center;
    margin-bottom: 50px;
    button{
        padding: 12px 21px;
        border: none;
        background-color: #ffffff;
        // color: $text;
        color: #70838d;
        outline: none;
        cursor: pointer;
        border-radius: 7px;
        box-shadow: 3px 3px 8px 2px rgba(155, 155, 155, 0.32);
        text-transform: uppercase;
        font-size: 12px;
        & + button{
            margin-left: 10px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color:#fff;
        }
    }
}

.products__item{
    max-width: 380px;
    width: 100%;
    box-shadow: 6px 6px 15px 3px rgba(155, 155, 155, 0.32);
    margin: 20px;
    background-color: #fff;


    &-img{
        min-height: 220px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
        border-radius:10px 10px 0 0;
    }
    &-link{
        display: block;
    }
    &-text{
        border-top: 1px solid #d1d1d1;
        padding: 18px;
        line-height: 130%;
        margin: 0;
        font-size: 14px;
        height: 140px;
    }
    transition: .5s;
    position: relative;
    z-index:1;
    &:hover{
        transform: scale(1.03)
    }
    border-radius:10px;

    
}

.products__inner-wrapper{
    display: flex;
    // justify-content: space-between;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin:0px auto;
    max-width: 1260px;
}

// intro

.intro-home{
    height:100vh;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.intro{
    height:70vh;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.intro__bg{
    background-color: rgba(0, 0, 0, 0.55);
    height: 100%;
    // height: 100%;
    // width: 100%;
}
.intro__inner{
    text-align: center;
    color: $text-light;
    padding-top:250px;
    &-homeTitle{
        font-size: 100px;
        margin: 0 0 40px;
        line-height: 110%;
    }
    &-title{
        font-size: 72px;
        margin: 0;
        line-height: 110%;
    }
    &-text{
        font-size: 26px;
        
    }
    &-author{
        font-size: 22px;
        font-style: italic;
        // text-transform: uppercase;
        display: block;
        margin-top: 10px;
    }
}

// greeting

.greeting{
    background-color: $grayBg;
    &__inner-text{
        padding: 100px 0;
        text-align: center;
        max-width: 840px;
        margin: 0 auto;
        font-size: 20px;
        line-height: 140%;
        &  span{
            font-weight: 600;
            margin-bottom: 10px;
            display: block;
            font-size: 28px;
        }
    }
}

// materials
.materials{
    background-color: $grayBg;
    padding: 100px 0;
}
.product-one__tabs {
    background-color: $grayBg;
    
    display: flex;
    align-items: flex-start;
    .tabs{
        max-width: 270px;
        text-align: left;
        width: 100%;
        margin-right: 30px;
        display: block;
        background-color: #fff;
        border: 1px solid #dedede;
        li{
            
            display: block;
            background-color: transparent;
            border-bottom: 1px solid #dedede;
            &:last-child{
                border-bottom: none;
            }
            &.active{
                border-bottom: 2px solid $red;
            }
        }


    }
    .tab_content{
        width: 100%;
    }
}

.tabs {
    display: flex;
    padding: 0 20px;
    border: 1px solid #d7d7d7;
    
}
.tab {
    width: 100%;
    font-size: 16px;
    color: #70838d;
    padding: 20px 0;
    background-color: #fff;
    cursor: pointer; 

}
.active-color{
    color:$red;
}
.has-sub{
    position: relative;
    &.tap .tab__items{
        display: block;
    }
}
.time__item{
    display: none;
    position:relative;
    top: 20px ;
    
}
.time{
    position: relative;
    &.tap .time__item{
        display: block;
    }
}
.tab__items{
    position:relative;
    top: 20px ;
    left:-1px;
    display: none;
    background-color: #fff;
    width: calc(100% + 2px);
    // border: 1px solid #d7d7d7;   
    &-item{

    }
    & li{
        &:first-child{
            border-top: 1px solid #d7d7d7;
        }

    } 
    
}

.arrow{
    &::after{
        content: "\203A";
        float:right;
        margin: 0 10px;
        font-size: 40px;
        font-weight: 100;
        transform: rotate(90deg);
    }
}
.tab_content {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-top: none;
    padding: 30px 30px 50px;
}
.tab-item {
    display: none;
    &:first-child {
        display: block;
    }
}
.tab-item__list {
    font-size: 16px;
    line-height: 36px;
    color: #707070;
    column-count: 2;
    column-gap: 25px;
    li {
        max-width: 290px;
        width: 100%;
    }
}

.file{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .big-tab-image{
        max-width:600px;
    }
    img{
        max-width:300px;
        margin: 0;
    }
    span{
        max-width: 300px;
        padding-left: 10px;
        line-height: 100%;
        display: block;
        font-size: 14px;
        margin-bottom: 20px;
        color: rgb(82, 82, 82);
    }
}
.file__name{
    margin: 0 20px 0 0;
    &:hover{
        background-image: linear-gradient(
            180deg
            ,#4f4dff49,#3f3cff8e);
                background-repeat: no-repeat;
                background-position: 4px bottom;
                background-size: 100% 8px;
    }
}
.file__button{
    background-image: linear-gradient(
            180deg
            ,#4f4dff49,#3f3cff8e);
                background-repeat: no-repeat;
                background-position: 4px bottom;
                background-size: 100% 10px;
}




// class leadership


.students-awards{
    padding: 100px 0;
}
.leadership-section-title{
    text-align: center;
    font-size: 40px;
    margin: 0 0 70px 0;
}

.slider{
    width: 780px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    &.slider-about{
        width: 1000px;
    }

}
.slider-wrapper{
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(202, 202, 202);
}
.slide{
    background-repeat: no-repeat;
    // display: block;
    background-position: center;
    background-size: contain;
    min-height: 320px;
    max-width: 250px;
    &.slide-about{
        min-width: 300px;
    }
}
.slick-dots {
    margin-top: 15px;
    text-align: center;
}
.slider .slick-dots li{
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
    
    &.slick-active{
        button{
            background-color: $red;
        }
    }
    button{
        cursor:pointer;
        outline: none;
        width: 13px;
        font-size: 0;
        height: 13px;
        border-radius: 50%;
        border:none;
        background-color: rgb(187, 187, 187);
    }
}
.slick-arrow{
    position:absolute;
    z-index: 10;
    top:50%;
    transform: translateY(-50%);
    height:50px;
    width:20px;
    background-color: #e7e7e7;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 0;
}
.slick-prev{
    left:-19px;
    background: url(../images/slider/sl-arrow_l.svg) 0 0 /100% no-repeat;
}
.slick-next{
    right:-20px;
    background: url(../images/slider/sl-arrow_r.svg) 0 0 /100%  no-repeat;
}

.class-title{
    font-size: 26px;
    margin: 0 0 30px 0;
    text-align: center;
}
.class-photo{
    display: block;
    margin: 0 auto;
    // width: 100%;
    max-width: 700px;
    // height: 300px;
    
}
.slider-title{
    font-size: 16px;
    text-align: center;
}

.class-wrapper{
    margin-top: 60px;
}


.educational-plan{
    padding-bottom: 100px;
}
.class-hours{
    padding-bottom: 100px;
}


// about
.about{
    padding: 100px 0;
    // background: linear-gradient( #69b7eb, #b3dbd3, #f4d6db);

    & .slider-wrapper{
        border-bottom: none;
    }
}

.about__inner{
    display: flex;
    margin-left: -100px;
}
.about__photo{
    width: 250px;
    
    margin-right: 30px;
    & .photo{
        width: 100%;
        border-radius: 20px;
    }
}
.about__text{
    width: 500px;
    & span{
        font-weight: 600;
    }
    & a{
        color: #0805bd;
    }
}

@import "media";
